.item {
  padding: 0 25px;

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .score-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .sentiment-icon {
        width: 40px;
        height: 40px;
      }

      .score {
        margin: 1em 10px;
      }
    }
  }

  .divider {
    width: 90%;
    height: 1px;
    background-color: black;
    opacity: 0.8;
    margin: auto;
  }
}
